/* ****************************************
        -----------------------------      
                STYLE COMMON
        -----------------------------
***************************************** */

/* --- UTILITY --- */
.ht-50 {height: 50px;}
.ht-70 {height: 70px;}
.ht-100 {height: 100px;}
.ht-250 {height: 250px;}
.ht-500 {height: 500px;}


/* **************************** */
    /* ---   SECTIONS   --- */
/* **************************** */

/* ------------------------------
            HEADER & MENÙ
------------------------------ */
.menu {background-color: var(--nav-bar);}
.hero {background-color: var(--hero-section);}
#about {background-color: var(--hero-section);}

.navbar-toggler:focus {box-shadow: none;}

.btn-outline-secondary {
    border-color: white;
    color: white;
    text-align: center;
}

.footer {background-color: var(--footer);}
.sub-footer {background-color: var(--sub-footer);}



.test {justify-content: end;}
/* ------------------------------
            BODY
------------------------------ */


        /* FINE  */


/* ------------------------------
          HEADER
------------------------------ */

        /* FINE  */

/* ------------------------------
           MAIN
------------------------------- */






        /* FINE  */

/* ------------------------------
          FOOTER
------------------------------- */

        /* FINE  */


       

/* ------------------------------
         *** FINE ***
------------------------------- */


