/* ********************************* 
     -------------------------
         * VARIABLES *
     -------------------------
********************************* */

/* ------------------------------
         CUSTOM PROPERTIES
------------------------------ */

        /* COLOR */

    :root {
        --nav-bar: #2C3E50;
        --hero-section: #1ABC9C;
        --text-primary: #333333;
        --text-secondary: #223548;
        --text-invert: #fff;
        }
    
        
        
      /* UTULITY */
    .bdb {border: 1px solid red;}
            
/* ------------------------------
            *** FINE ***
------------------------------- */
            